# Data Analysis
## Cycle Share
### Raven Robertson
### September 03, 2019

In [2]:
import pandas as pd

In [3]:
station_data = pd.read_csv('station.csv')

In [4]:
weather_data = pd.read_csv('weather.csv')

In [5]:
trip_data = pd.read_csv('trip.csv', error_bad_lines=False)
trip_data

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

#### What is the average trip duration for a borrowed bicycle?

In [6]:
trip_data.tripduration.mean()

1178.2956753399776

#### What’s the most common age of a bicycle-sharer?

In [7]:
age = (2019 - (trip_data.birthyear.mode()))
age

0    32.0
dtype: float64

##### Answer: 32

#### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [20]:
weather_data['Date'] = pd.to_datetime(weather_data['Date'], errors='coerce')
print(weather_data)

          Date  Max_Temperature_F  Mean_Temperature_F  Min_TemperatureF  \
0   2014-10-13                 71                62.0                54
1   2014-10-14                 63                59.0                55
2   2014-10-15                 62                58.0                54
3   2014-10-16                 71                61.0                52
4   2014-10-17                 64                60.0                57
..         ...                ...                 ...               ...
684 2016-08-27                 72                66.0                61
685 2016-08-28                 75                68.0                59
686 2016-08-29                 81                68.0                55
687 2016-08-30                 70                64.0                57
688 2016-08-31                 71                65.0                59

     Max_Dew_Point_F  MeanDew_Point_F  Min_Dewpoint_F  Max_Humidity  \
0                 55               51              46            87
1                 52               51              50            88
2                 53               50              46            87
3                 49               46              42            83
4                 55               51              41            87
..               ...              ...             ...           ...
684               57               54              50            81
685               54               52              50            80
686               55               53              50            89
687               55               53              52            83
688               61               56              52            90

     Mean_Humidity  Min_Humidity  ...  Min_Sea_Level_Pressure_In  \
0               68            46  ...                      29.65
1               78            63  ...                      29.54
2               77            67  ...                      29.51
3               61            36  ...                      29.81
4               72            46  ...                      29.73
..             ...           ...  ...                        ...
684             65            46  ...                      29.77
685             65            44  ...                      30.01
686             65            39  ...                      29.95
687             69            53  ...                      29.97
688             77            63  ...                      29.96

     Max_Visibility_Miles  Mean_Visibility_Miles  Min_Visibility_Miles  \
0                      10                     10                     4
1                      10                      9                     3
2                      10                      9                     3
3                      10                     10                    10
4                      10                     10                     6
..                    ...                    ...                   ...
684                    10                     10                    10
685                    10                     10                    10
686                    10                     10                     6
687                    10                     10                    10
688                    10                     10                     8

     Max_Wind_Speed_MPH  Mean_Wind_Speed_MPH  Max_Gust_Speed_MPH  \
0                    13                    4                  21
1                    10                    5                  17
2                    18                    7                  25
3                     9                    4                   -
4                     8                    3                   -
..                  ...                  ...                 ...
684                  16                    9                 NaN
685                  12                    9                 NaN
686                   9                    4                 NaN
687                  14                    9                  18
688                  14                    8                 NaN

     Precipitation_In Events  Month
0                0.00   Rain     10
1                0.11   Rain     10
2                0.45   Rain     10
3                0.00   Rain     10
4                0.14   Rain     10
..                ...    ...    ...
684              0.00    NaN      8
685              0.00    NaN      8
686              0.00    NaN      8
687              0.00    NaN      8
688              0.00   Rain      8

[689 rows x 22 columns]

In [9]:
weather_data['Month'] = weather_data['Date'].dt.month

In [11]:
average_precip = pd.DataFrame(weather_data[['Month','Precipitation_In']]).groupby(weather_data.Month).mean()
average_precip.sort_values('Precipitation_In', ascending=False)

       Month  Precipitation_In
Month
12        12          0.236290
10        10          0.189000
11        11          0.187833
2          2          0.168421
3          3          0.156935
1          1          0.143548
4          4          0.051333
9          9          0.041000
6          6          0.030500
8          8          0.018226
5          5          0.012419
7          7          0.012097

In [12]:
mean_precip = average_precip['Precipitation_In'].mean()
mean_precip

0.1039669873608753

#### What’s the average number of bikes at a given bike station?

In [13]:
station_data['current_dockcount'].mean()

16.517241379310345

##### Answer: About 16

#### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [15]:
bike_mod_stat = station_data['install_dockcount'] - station_data['current_dockcount']

lose = 0
gain = 0

for val in bike_mod_stat:
    if val < 0:
        lose += 1
    if val > 0:
        gain += 1

if gain > lose:
    print('A bike station is likely to gain bikes when modified.')
else:
    print('a bike station is likely to lose bikes when modified')

A bike station is likely to gain bikes when modified.

#### what is the most popular user type?

In [18]:
member = trip_data[(trip_data['usertype'] == 'Member')]
non_member = trip_data[(trip_data['usertype'] != 'Member')]
if len(member) > len(non_member):
    print('Members bike the most')
else:
    print('Non member use more bikes')

Members bike the most

#### Longest trip_duration?

In [19]:
trip_data.tripduration.max()

28794.397999999997

#### Hottest temp?

In [21]:
weather_data.Max_Temperature_F.max()

98